h1,
h2 {
    font-family: 'Abril Fatface', serif;
    line-height: 1em;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 520px;
    font-size: 16px;
    line-height: 1.5em;
    background-color: white;
    color: #222;
}

body > section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    padding: 16px;
}

body > section.task {
    background-color: #ff4500;
    color: white;
}

body > section.task > .status {
    font-style: italic;
    font-size: 14px;
    margin-top: -8px;
}

body > section.task > .range {
    display: flex;
    flex-direction: row;
    padding: 4px 0;
    gap: 8px;
}

body > section.task > .range > input {
    display: block;
    width: 20px !important;
    min-width: unset !important;
    padding: 8px;
    flex-grow: 1;
    font-family: inherit;
    background-color: white;
    color: #ff4500;
    font-weight: bold;
    border: unset;
}

body > section.task > hr {
    width: 100%;
    border: unset;
    border-top: 1px solid white;
}

body > section.task > button {
    border: unset;
    padding: 8px;
    font-family: inherit;
    background-color: white;
    color: #ff4500;
    font-weight: bold;
}

body > section.task > button:hover {
    outline: 2px solid white;
    outline-offset: 2px;
}
